.input-search {
  display: flex;
  width: 240px;
  align-items: flex-end;
  border-bottom: 1px solid #F3F3F3;
  padding: 8px 0;

  input, button {
    background-color: transparent;
    border: 0;
  }
    
  input {
    outline: none;
    cursor:text;
    width: 100%;
    margin: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  div {
    line-height: 0;
  }

  button {
    cursor: pointer;
    padding: 0;
  }
}

.citySuggestions {
  width: 240px;
  position: absolute;
  background: rgb(7, 7, 7, 0.95);
  backdrop-filter: blur(50px);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  font-size: 12px;

  &.warning {
    text-align: center;
    padding: 10px;
  }

  input {
    background: transparent;
    border: 0;
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: .2s;

    &:not(:last-child) {
      border-bottom: 1px solid rgba(155, 155, 155, 0.2)
    }

    &:last-child {
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      padding-bottom: 12px;
    }

    &:hover {
      background: black;
      font-weight: 400;
    }
  }
}