.App {
  display: flex;
  justify-content: flex-start;
}

aside {
  padding: 3rem 2rem;
  backdrop-filter: blur(10px);
  flex-basis: 22%;
  border-radius: 16px;
  border: 1px solid #E0E3E1;  
}

.d-flex {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.align-self-end {
  align-self: flex-end;
}

.font-size-xxl {
  font-size: 64px;
  line-height: 64px;
}

.font-size-xl {
  font-size: 56px;
  line-height: 56px;
}

.font-size-l {
  font-size: 48px;
  line-height: 48px;
}
  
.font-size-m {
  font-size: 40px;
  line-height: 40px;
}
      
.font-size-s {
  font-size: 32px;
  line-height: 32px;
}

.font-size-xs {
  font-size: 16px;
  line-height: 16px;
}

.font-size-xxs {
  font-size: 12px;
  line-height: 12px;
}

.mb-xxs {
  margin-bottom: 10px;
}

.container {
  margin-top: 3.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 16px 0;

  tr {
      td {
          padding: 4px 0;
      }

      & > td:nth-child(2) {
          text-align: right;
      }
  }   
}



@media screen and (max-width: 720px) {
  aside {
    padding: 2rem 1rem;
  }
}