* {
  box-sizing: border-box;
  font-size: 16px;
  color: #F3F3F3;
}

body, input {
  margin: 0;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}

button {
  line-height: 0;
}
